<div class="container">
    <!-- Tab Navigation -->
    <h1 class="title">Turoran's Classless Wow</h1>
    <div class="tabs">
        <button id="registration-tab"
                class="tab"
                hx-get="/components/registration.html"
                hx-target="#content-area"
                hx-swap="innerHTML">
            Account Registration
        </button>
        <button id="recovery-tab"
                class="tab"
                hx-get="/components/accountRecovery.html"
                hx-target="#content-area"
                hx-swap="innerHTML">
            Account Recovery
        </button>
        <button class="tab" hx-get="/files/download" hx-swap="none">Download Launcher<img src="/icons/launchericon.png" alt="Launcher" class="icon"/></button>
    </div>

    <!-- Content Area - Load registration component on page load -->
    <div id="content-area"
         class="content"
         hx-get="/components/registration.html"
         hx-trigger="load"
         hx-swap="innerHTML">
        <!-- Registration component will load here -->
    </div>
</div>